@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;

}



#navmenu {
    
    width: 100%;
    min-height: 30px;
    text-align:  left;
    line-height: 30px;
    margin-bottom: 1px;
    background-color: rgb(3, 2, 3);
    text-align: center;
    padding: 0;
    
    
}

#navmenu li {
    
   color: aquamarine;
    list-style: none;
    display: inline;
    background-image: url(https://i.pinimg.com/originals/b0/b1/f5/b0b1f5d33de00e3c21ad29bbba25e31b.gif);

    
}

#navmenu li a {
    
    color: rgb(246, 250, 249);
    padding: 20px;
        
 }

#principal {
    background-color: orange;
    width: 100%;
    min-height: 600px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px
}
#main-div{
    width: 100%;
    min-height: 400px;
    margin-bottom: 10px;
}



#bodyarea {
   
    width: 100%;
    min-height: 600px;
    background-color: aqua;
    float: left;
    text-align: center;

    
}
.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}
#foot {
   
    min-height: 80px;
    width:100%;
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
    background-color: rgb(62, 62, 65);
   
}

#menucima {
    margin: 10px;
    color: white;
    font-weight: 800;
}

#menucima :hover {
    margin: 10px;
    color: rgb(251, 252, 255);
    font-weight: 800;
}

#abc {
    width: 80%;
    background-color: rgb(250, 250, 249);
    margin: auto;
}

#cabeca {
    margin-top: 10px;
    
    width: 100%;
    min-height: 200px;
    padding-left: 2%;
    line-height: 50px;
    margin-bottom: 10px;
    background-image: url(https://cdn.dribbble.com/users/189524/screenshots/2103470/01-black-cat_800x600_v1.gif);
    background-repeat: no-repeat;
     background-position: center;
     background-color: rgb(19, 18, 18);
     background-size: 70%;
}









